	body,
	html {
		margin:0;
		padding:0;
		color:#000;
		background:#404040;
	}
	#wrap {
		width:800px;
		margin:0 auto;
		background:#C8C8C8;
		font-family: helvetica;
	}
	#header {
    	/*padding:*/
		background:#C8C8C8;
		font-family:helvetica;
	}
	h1 {
	    margin:0;
    }
	#nav {
		padding:5px 10px;
		background:#c99;
	}
	#nav ul {
		margin:0;
		padding:0;
		list-style:none;
	}
	#nav li {
		display:inline;
		margin:0;
		padding:0;
	}
	#main {
		float:right;
		width:550px;
		padding:10px;
		background:#C8C8C8;
		font-family:helvetica;
		font-size:90%;
	}
	h2 {
		margin:0 0 1em;
	}
	#sidebar {
		float:left;
		width:230px;
		/*padding:10px;*/
		background:#C8C8C8;
		font-family: helvetica;
	}
	#sidebar ul{
		list-style-type:none;
		border:1px solid #555;
		background-color:#f1f1f1;
	}
	#sidebar li a {
		display: block;
		color:#000;
		padding:8px 0 8px 16px;
		text-decoration: none;
	}
	#sidebar li {
		text-align: center;
		border-bottom: 1px solid #555;
	}
	#sidebar li:last-child {
		border-bottom: none;
	}
	#sidebar li a:hover {
		background-color:#555;
		color:white;
	}
	#footer {
		clear:both;
		padding:5px;
		display:block;
		color:white;
		text-align:center;
		background:#404040;
		font-size:80%;
		font-family: helvetica;
	}
	#footer p {
		margin:0;
    }
	* html #footer {
		height:1px;
	}

	.table td { 
		valign: top;
	}